@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-quicksand);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-quicksand), sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Prevent scrolling on mobile */
  margin: 0;
  padding: 0;
}

/* Override font-display to use Quicksand */
.font-display {
  font-family: var(--font-quicksand) !important;
}

img:not(.no-global-filter) {
  filter: contrast(130%) saturate(160%) !important;
}
